
*
{

      background-color:pink;
} 
#From_data
{
    text-align: center;
   
    
 
  
}
#From_data_p 
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;

}